$black-500: #222222;
$black-100: #d9d9d9;
$white-500: #ffffff;
$white-100: #f3f9fb;
$yellow-500: #fc7901;
$yellow-100: #fcbd01;
$blue-500: #397cff;
$blue-100: lighten($blue-500, 20%);
$red-500: #ff4853;
$red-100: lighten($red-500, 20%);

:root {
  --color-primary-dark: #{$black-500};
  --color-primary-light: #{$white-500};
  --color-secondary-dark: #{$black-100};
  --color-secondary-light: #{$white-100};
  --color-brand-light: #{$yellow-100};
  --color-brand-dark: #{$yellow-500};
  --color-brand-additional: #{$blue-100};
  --color-brand-additional: #{$blue-500};
  --color-brand-accent: #{$red-100};
  --color-brand-accent: #{$red-500};
}
