<div class="container" style="text-align: center; padding: 100px 0">
  <div style="font-size: 64px">🎉</div>
  <h1 class="order-success__title">Дякуємо за замовлення!</h1>
  <p class="order-success__text">
    Ми отримали ваш запит і зателефонуємо вам найближчим часом для
    підтвердження.
  </p>
  <a href="/" class="order-success__btn-confirm">На головну</a>
</div>
